/*Web Page Control*/

.title {
    position: relative;
    animation-name: title;
    animation-duration: 1s;
}

.contents {
    margin-left: 5%;
    font-size: 20px;
}

.content1 {
    position: relative;
    animation-name: content1;
    animation-duration: 2s;
}

.content2 {
    position: relative;
    animation-name: content1;
    animation-duration: 3s;
}

.content3 {
    position: relative;
    animation-name: content1;
    animation-duration: 4s;
}

.content4 {
    position: relative;
    animation-name: content1;
    animation-duration: 5s;
}

.content5 {
    position: relative;
    animation-name: content1;
    animation-duration: 6s;
}

.content6 {
    position: relative;
    animation-name: content1;
    animation-duration: 7s;
}

.content7 {
    position: relative;
    animation-name: content1;
    animation-duration: 8s;
}


/*Buttons*/

.button {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 12px;
    position: relative;
    animation-name: main_frame_buttons;
    animation-duration: 2s;
    transition: 0.5s;
}

.big_button {
    width: 90%;
    height: 80%;
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px 5px;
    margin-left: 4%;
    float: left;
    margin-top: 10px;
    position: relative;
    animation-name: main_frame_buttons;
    animation-duration: 2s;
    transition: 0.5s;
}


/*Text Control*/




/*align control*/




/*Animations*/

@keyframes title {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes content1 {
    0% {
        left: -100px;
        opacity: 0;
    }

    60% {
        left: -100px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}